@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #f7d794, #f3a683);
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 95px repeat(5, 80px);
}

#display {
    grid-column: span 4;
    font-family: 'VT323', 'monospace';
    background-color: #bebebe;
    border: 1px;
    border-style: solid;
    border-color: #363636;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 5em;
}

button {
    font-family: 'Varela Round', 'sans-serif';
    font-size: 2.5rem;
    border: 1px;
    border-style: solid;
    border-color: #363636;
}

.operator{
    background-color: #63cdda;
}

.operand, .decimal, .clear, .sign, .percent {
    background-color: #778beb;
}

.equals {
 background-color: #f78fb3;
}

#btnZero {
    grid-column: span 2;
}